<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home" routerLinkActive="active">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/blog">Blog</a>
      </li> -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/new-user">New User</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/new-user-reactive">New User reactive</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/message">Notes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/parent">Parent</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/str-dir">Built in Str Dir</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/attr-dir">Built in Attr Dir</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/directives"> Directives</a>
      </li>
    </ul>
  </div>
</nav>
