<div class="container">
  <h3>New Reactive Form </h3>
  <form [formGroup]="userForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" class="form-control">
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <p *ngIf="name.errors.required "> The Name is Required </p>
        <p *ngIf="name.errors.minlength "> The Name must be atleast {{name.errors.minlength.requiredLength}} char long
        </p>
        <p *ngIf="name.errors.pattern "> The Name must be Chakshu Kishnani </p>
      </div>
      <!-- <div class="alert alert-danger" *ngIf= "userForm.get('name').touched && userForm.get('name').invalid">
        <p *ngIf="userForm.get('name').errors.required "> The Name is Required </p>
        <p *ngIf="userForm.get('name').errors.minlength "> The Name must be atleast 8 char long </p>
        <p *ngIf="userForm.get('name').errors.pattern "> The Name must be Chakshu Kishnani </p>
      </div> -->

    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" formControlName="phone" class="form-control">
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <input type="text" formControlName="website" class="form-control">
    </div>

    <fieldset formGroupName="address">
      <legend>Address</legend>
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" formControlName="street" class="form-control">
      </div>
      <div class="form-group">
        <label for="suite">Suite</label>
        <input type="text" formControlName="suite" class="form-control">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" formControlName="city" class="form-control">
      </div>
      <div class="form-group">
        <label for="zipcode">Zipcode</label>
        <input type="text" formControlName="zipcode" class="form-control">
      </div>

      <fieldset formGroupName="geo">
        <legend>Geo</legend>
        <div class="form-group">
          <label for="lat">Lat</label>
          <input type="text" formControlName="lat" class="form-control">
        </div>
        <div class="form-group">
          <label for="lng">Lng</label>
          <input type="text" formControlName="lng" class="form-control">
        </div>
      </fieldset>

    </fieldset>

    <fieldset formGroupName="company">
      <legend>Company</legend>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="catchPhase">Catch Phase</label>
        <input type="text" formControlName="catchPhase" class="form-control">
      </div>
      <div class="form-group">
        <label for="bs">BS</label>
        <input type="text" formControlName="bs" class="form-control">
      </div>

    </fieldset>

    <!-- <fieldset>
      <legend > Hobbies | <span (click)="addhobby()">
        <svg width="1em" height="1em" viewBox="0 0 16 16"
            class="bi bi-plus-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"
               />
          </svg>
          </span>
      </legend>
      <div class="input-group mb-3" *ngFor="let hobbyControl of userForm.get('hobbies');let i = index">
        <input type="text" class="form-control"  [formControlName]="i" placeholder="Hobby">
        <div class="input-group-append">
          <span class="input-group-addon ">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
          </svg>
        </span>
        </div>
      </div>
    </fieldset> -->

    <fieldset>
      <legend>Hobbies | <span class="glyphicon glyphicon-plus" (click)="addhobby()">+</span> </legend>
      <div class="input-group" *ngFor="let hobbyControl of userForm.get('hobbies'); let i = index">
        <input type="text" class="form-control" [formControlName]="i" placeholder="Hobby">
        <span class="ipnut-group-addon glyphicon glyphicon-trash" (click)="deletHobby(i)"></span>
      </div>
    </fieldset>

    <button class="btn btn-prmary" type="submit">Submit</button>

  </form>
</div>
