<p>User Deatils: </p>
User id : {{ user.id }} <br>
User name :{{ user.name }}  <br>
User email :{{ user.email }}  <br>
<!-- User name: {{ user.username }}<br> -->
<hr>
<button class="bt btn-success" (click)="createUser()">Create User</button>
<button class="bt btn-primary" (click)="deleteUser()">Delete User</button>
<button class="bt btn-danger" (click)="updateUser()">Update User</button>
<button class="bt btn-warning" (click)="getUserPosts()">Get Post by User</button>

<h4>User's Posts</h4>
<pre>{{ posts | async |json}}</pre>
