<div class="class-container">
  <h3>New User Form</h3>
  <!-- form>(div.form-conatiner>label[for='name']+input[naem='name'].form-control)*5   for lower text -->
  <!-- <form (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" name="phone" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label for="website">Website</label>
      <input type="text" name="website" class="form-control" ngModel>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form> -->
  <form #userform="ngForm" (ngSubmit)="submit(userform)" style="padding: 10px;">
    <div class="form-group">
      <label for="name">Name</label>
      <input required minlength="8" maxlength="24" type="text" name="name" class="form-control"
        ngModel #name="ngModel">
      <div *ngIf="name.touched && name.invalid" class="alert-danger">
        <p *ngIf="name.errors.required"> Name is required. </p>
        <p *ngIf="name.errors.minlength"> Name length must be atleast 8 characters. </p>
        <p *ngIf="name.errors.maxlength"> Name length must be atmost 24 characters. </p>
        <p *ngIf="name.errors.pattern"> Name is Pattern must be Chakshu Doe. </p>
      </div>
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" name="phone" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label for="website">Website</label>
      <input type="text" name="website" class="form-control" ngModel>
    </div>

    <div ngModelGroup ="address">
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" name="street" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="suite">Suite</label>
        <input type="text" name="suite" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" name="city" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="zipcode">Zipcode</label>
        <input type="text" name="zipcode" class="form-control" ngModel>
      </div>
      <div ngModelGroup ="geo">
        <div class="form-group">
          <label for="lat">Lat</label>
          <input type="text" name="lat" class="form-control" ngModel>
        </div>
        <div class="form-group">
          <label for="lng">Lng</label>
          <input type="text" name="lng" class="form-control" ngModel>
        </div>
      </div>
    </div>

    <div ngModelGroup ="company">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="catchPhase">Catch Phoase</label>
        <input type="text" name="catchPhase" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="bs">BS</label>
        <input type="text" name="bs" class="form-control" ngModel>
      </div>
    </div>

    <div class="radio">
      <label for="gender" *ngFor="let gender of genders">
        <input name="gender" [value]="gender" ngModel type="radio">{{ gender }} &nbsp;&nbsp;
      </label>
    </div>

    <div class="form-group">
      <label for="communicationModes"> Communication Options </label>
      <select name="communicationModes" class="form-control">
        <option value=""></option>
        <option *ngFor="let compt of communicationModes" [value]="compt"> {{compt}}</option>
      </select>
    </div>

    <div class="checkbox">
      <label for="agreement">
        <input name="agreement" ngModel type="checkbox">&nbsp; I agree to Terms and Conditions.
      </label>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="userform.invalid">Submit</button>
    <button class="btn btn-primary" type="button" (click)="updateUser(userform)">Update User</button>
    <button class="btn btn-primary" type="button" (click)="deleteUser()">Delete  User</button>

    <hr>
    <pre>
        {{ userform.value | json }}
    </pre>
  </form>
  <div class="col-md-7">
      <pre>
        {{userlist | json}}
      </pre>
      <button class="btn btn-primary" type="button" (click)= "getUsers()"> Get Users</button> <br>
  </div>
</div>
